<center>
    <h1>Welcome to the calculator</h1>
</center>

<form action="calculate" method="post">
    {% csrf_token %}
    <center>
        <h2>Enter the 1st number</h2>
        <input type="number" name="number1">
        <h2>Enter the 2nd number</h2>
        <input type="number" name="number2">
    </center><br>

    <center>
        <button type="submit" name="add">+</button>
        <button type="submit" name="subtract">-</button>
        <button type="submit" name="multiply">x</button>
        <button type="submit" name="divide">/</button>
    </center>

    <center>
        <h2 style="color:blue ">The answer is {{ans}}</h2>
    </center>

    
</form>








